@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

/* Header associated styling */
.header {
    display: flex;
    background-color: #1f2937;
    padding: 0 36px;
}

.header #logo {
    padding: 20px;
    padding-left: 0;
    font-size: 24px;
    font-weight: 600;
    color: #faf9f8;
}

.header .link-group {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    margin-left: auto;
    padding: 0;
}

.header .link-group a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    padding: 20px 10px;
}

/* Banner associated styling */
.content-banner {
    display: flex;
    align-items: center;
    background-color: #1f2937;
    padding: 80px 60px;
}

.content-banner .entry {
    display: flex;
    flex-direction: column;
}

.content-banner .entry-title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.content-banner .entry-body {
    font-size: 18px;
    color: #e5e7eb;
}

.content-banner .entry-link {
    display: flex;
}

.content-banner .entry-link a {
    text-decoration: none;
    background-color: #3882f6;
    padding: 8px 24px;
    margin: 0;
    margin-top: 12px;
    border-radius: 8px;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 700;
}

.content-banner .banner-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 250px;
    flex: 1 1 auto;
    background-color: #a5a7ab;
    margin-left: 12px;
}

.content-banner span {
    color: #e5e7eb;
}

/* Infomation visual associated styling */
.info-visual {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 96px;
}

.info-visual .visual-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.info-visual .visual-container {
    display: flex;
    justify-content: center;
}

.info-visual .visual-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    margin: 24px;
    margin-top: 60px;
}

.info-visual .article-image {
    width: 174px;
    height: 174px;
    border: 6px solid #3882f6;
    border-radius: 30px;
    flex: 0 0 auto;
}

.info-visual .article-text {
    text-align: center;
    font-size: 18px;
    color: #75777b;
    padding-top: 12px;
}

/* Quote associated styling */
.quote {
    display: flex;
    flex-direction: column;
    padding: 60px 96px;
    background-color: #e5e7eb;
}

.quote .quote-text {
    font-size: 36px; 
    font-weight: lighter;
    font-style:  italic;
    color: #1f2937;
}

.quote .quote-author {
    text-align: end;
    font-size: 28px;
    font-weight: bold;
    color: #1f2937;
}

/* Announcement associated styling */

.announcement {
    display: flex;
    padding: 44px 96px;
}

.announcement .announcement-box {
    display: flex;
    align-items: center;
    background-color: #3882f6;
    border-radius: 16px;
    flex: 1 1 0;
    padding: 32px 96px;
}

.announcement .announcement-content {
    display: flex;
    flex-direction: column;
    width: 380px;
}

.announcement .announcement-content .announcement-title {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.announcement .announcement-content .announcement-description {
    font-size: 16px;
    color: #e5e7eb;
}

.announcement .announcement-link {
    margin-left: auto;
    padding: 6px 16px;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 18px;
    color:#f9faf8 ;
    font-weight: bold;
    
}